/*body {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    padding-left: 0px;
    padding-top: 0px;
      }


table, th, td {
    background: #E0EBEB;
}

th {
    background-color: #CCA300;
    color: white;
}

.time{
overflow-y: scroll;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
	margin-left: 0px;
}

.fc-content{
background-color: #CCA300;
}*/
